<div class="bg-[#14171A] w-full h-[110px]">
    
        
        <div class="flex flex-row justify-evenly px-5 py-10">
            <a href="#"><img src="/logo.png" alt="logo" class="md:w-[140px] md:h-[30px]"></a>
           <a href="#"><img src="/Twitter.png" alt="icon"></a> 
         <a href="#"> <img src="/Facebook.png" alt="icon"></a>  
          <a href="#"><img src="/Instagram.png" alt="icon"></a>  
        </div>
    
</div>