<div class="bg-[url('/home.png')] w-full h-[700px] relative" >

    <div class="w-full h-[700px] static bg-gradient-to-r bg-black/80"></div>

   <div>
    <img src="/logo.png" alt="logo" class="w-[140px] h-[30px] absolute top-10 left-5 md:left-[165px]">
</div>

<div class="absolute top-[180px] left-5 md:left-[165px]">
    <h1 class=" uppercase text-5xl font-extrabold md:6xl  text-white mb-5 md:w-[600px]">Freedom Studios Academy</h1>
    <p class="relative text-white mb-8 md:w-[600px]">Taking the message of freedom to the end of the earth through media and representing christ in every way.</p>
    <button class="bg-[#E11B19] w-[300px] h-[60px] uppercase rounded-full  font-extrabold text-white hover:bg-[#E11B19]/70 ">select a plan</button>
</div>


   </div>

