<div class="bg-[#191C1F] w-full grid grid-rows-2 grid-flow-col gap-4 md:flex justify-evenly items-center p-5">
  <div class="uppercase  text-white font-extrabold w-[100px] leading-none">member benefits</div>  
   <div><img src="/icons.png" alt="" class="w-[100px]"></div> 
   <div><img src="/icons2.png" alt="" class="w-[100px]"></div> 
   <div><img src="/icons3.png" alt="" class="w-[100px]"></div> 

</div>