
<div class="w-full h-[600px] bg-[#1F2327] p-5 md:flex md:gap-[120px] isolate md:items-center md:justify-center md:left-[165px] md:px-0">
    <div class="mb-4"><img src="/mediaFeature.png" alt="foto" class="w-[540px] h-[360px]"></div>
    <div class="text-white md:items-center md:w-[300px]">
        <span class="uppercase text-xs">facilities</span>
        <h1 class="uppercase text-3xl mb-2 font-extrabold">world class trainning</h1>
        <ul class="uppercase text-sm leading-8">
            <li> ✔ access to wifi  </li>
            <li> ✔ fully airconditioned</li>
            <li> ✔ over 100 classes monthly</li>
        </ul>
    </div>
</div>