<div class="w-full h-[600px] bg-[#191C1F] p-5 md:flex md:gap-[120px] isolate md:items-center md:justify-center md:left-[165px] md:px-0">
    <div class="text-white mb-4 md:w-[300px] md:items-center"> 
    <span class="uppercase text-xs">meet our leader</span>
    <h1 class="uppercase text-3xl mb-2 font-extrabold">lord josh</h1>
    <p class="text-base">He is an  oscar award scriptwritter, director of a movie titles sons of sceva. He is a farher of a beautiful daughter and the huband of Mrs olan.</p>
    </div>
    <div> <img src="/mediaFeature2.png" alt="foto" class="w-[540px] h-[360px]"></div>
</div>